<div>
    <div>
        <label for="type">Type: </label>
        <input type="radio" name="type"
            [checked]="motion.type==='Income'"
            (change)="changeType('Income')"
        > Income
        <input type="radio" name="type"
            [checked]="motion.type==='Expense'"
            (change)="changeType('Expense')"
        > Expense
    </div>
    <p></p>
    <div>
        <label for="category">Category: </label>
        <select 
            [(ngModel)]="motion.category"
            *ngIf="motion.type==='Income'"
        >
            <option
                *ngFor="let category of categoryIncomes"
                [value]="category"
            >{{category}}</option>
        </select>
        <select
            [(ngModel)]="motion.category"
            *ngIf="motion.type==='Expense'"
        >
            <option
                *ngFor="let category of categoryExpenses"
                [value]="category"
            >{{category}}</option>
        </select>
    </div>
</div>
<hr>
<hr>